<!-- .row title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Salas</h1>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- .row body -->
<div class="row" ng-app="salasApp" ng-controller="salasCtrl">
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="new()" data-toggle="modal" data-target="#edit_salas"><i class="fa fa-plus" ></i> New</button>
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-md-7">
            
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-md-3" style="text-align:right">
        
            
        </div>
        <!-- /.col-lg-2 -->
    </div>    
    <!-- /.row -->
   
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Product list

                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example" datatable dt-options="dtOptions"  dt-columns="dtColumns" dt-instance="dtInstance" >
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>Ra</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->

        <!-- edit_salas Modal -->
        <div class="modal fade" id="edit_salas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">New/Edit Salas</h4>
                    </div>
                    <div class="modal-body">
                        <form id="orderform" role="form" action="/orders/new" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                 <div class="panel-body">
                                        <div class="row">
                                            <input type="hidden" id="salas_id" name="salas_id" ng-model="salas.id">
                                            
                                            <div class="form-group">
                                                <label>Nome</label>
                                                <input class="form-control" placeholder="Nome" id="salas_nome" name="salas_nome" ng-model="salas.nome">
                                                <p class="help-block">Salas's Nome</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Sobrenome</label>
                                                <input class="form-control" placeholder="Sobrenome" id="salas_sobrenome" name="salas_sobrenome" ng-model="salas.sobrenome">
                                                <p class="help-block">Salas's Sobrenome</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Ra</label>
                                                <input class="form-control" placeholder="Ra" id="salas_ra" name="salas_ra" ng-model="salas.ra">
                                                <p class="help-block">Salas's Ra</p>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        </form>
                        <div class="row">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveButton" ng-click="save()" data-dismiss="modal">Submit</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>

</div>